---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { FRIENDS_LINKS } from "@/consts";
import { Image } from "astro:assets";
import BackgroundGrid from "@/components/BackgroundGrid.astro";
---

<BaseLayout>
  <BackgroundGrid />

  <main class="container mx-auto px-4 py-8">
    <h1 class="mb-4 font-serif text-3xl font-bold">Friends</h1>
    <p class="mb-6 text-lg text-muted-foreground">
      Feel free to add your own blog link!
    </p>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        FRIENDS_LINKS.map((friend) => (
          <a
            href={friend.link}
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center rounded-lg bg-card p-4 transition-colors hover:bg-accent"
          >
            <Image
              src={friend.avatar}
              alt={friend.title}
              inferSize
              loading="eager"
              class="mr-4 h-16 w-16 rounded-full"
              aria-label={`${friend.title}'s avatar`}
            />
            <div>
              <h2 class="font-serif text-xl font-semibold">{friend.title}</h2>
              <p class="font-sans text-card-foreground">{friend.intro}</p>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>
