---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { snake_case } from "@/utils/snakecase";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
  eagerLoading: boolean;
}

const { post, eagerLoading } = Astro.props as Props;
---

<article
  class="group relative block overflow-hidden rounded-lg elevated bg-card p-6 transition-colors hover:bg-accent has-[a:hover]:bg-card"
>
  {/* Image */}
  <div
    class="pointer-events-none absolute top-0 right-0 hidden h-full w-72 md:block dark:block"
    aria-hidden="true"
  >
    {
      post.data.heroImage && (
        <Image
          src={post.data.heroImage}
          alt=""
          loading={eagerLoading ? "eager" : "lazy"}
          class="h-full w-full rounded-r-lg mask-[linear-gradient(to_left,white_15%,transparent)] object-cover opacity-35 mix-blend-multiply dark:opacity-100"
        />
      )
    }
  </div>

  {/* Title and Date */}
  <div class="relative flex flex-col">
    <h2 class="font-serif text-lg font-semibold lg:text-2xl">
      <a
        href={`/blog/${post.id}`}
        class="text-primary no-underline hover:underline"
      >
        {post.data.title}
      </a>
    </h2>

    <p class="mt-1 text-card-foreground">
      <FormattedDate date={post.data.pubDate} />
    </p>

    {/* Tags */}
    {
      post.data.tags && (
        <div class="mt-4 flex flex-nowrap gap-2">
          {post.data.tags.map((tag) => (
            <a
              href={`/tag/${snake_case(tag)}`}
              class="pointer-events-auto shrink-0 rounded-full border px-3 py-1 font-serif text-sm whitespace-nowrap text-accent-foreground group-focus-within:border-black group-focus-within:text-primary hover:bg-muted focus:border-none"
            >
              <span class="font-sans text-primary">#</span>
              {tag}
            </a>
          ))}
        </div>
      )
    }
  </div>
</article>
