---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { snake_case } from "@/utils/snakecase";
import FormattedDate from "./FormattedDate.astro";

interface Props {
    post: CollectionEntry<"blog">;
    eagerLoading: boolean;
}

const { post, eagerLoading } = Astro.props as Props;
---

<article
    class="block p-6 bg-card rounded-lg hover:bg-accent has-[span:hover]:bg-card transition-colors relative group overflow-hidden card-border"
>
    {/* Image */}
    <div
        class="pointer-events-none absolute right-0 top-0 hidden h-full w-72 dark:block md:block"
        aria-hidden="true"
    >
        {
            post.data.heroImage && (
                <Image
                    src={post.data.heroImage}
                    alt=""
                    loading={eagerLoading ? "eager" : "lazy"}
                    class="w-full h-full object-cover mix-blend-multiply rounded-r-lg mask-[linear-gradient(to_left,white_15%,transparent)]"
                />
            )
        }
    </div>

    {/* Title and Date */}
    <div class="flex flex-col relative">
        <h2 class="text-lg lg:text-2xl font-semibold font-serif">
            <a
                href={`/blog/${post.id}`}
                class="text-primary no-underline hover:underline"
            >
                {post.data.title}
            </a>
        </h2>

        <p class="text-card-foreground mt-1">
            <FormattedDate date={post.data.pubDate} />
        </p>

        {/* Tags */}
        {
            post.data.tags && (
                <div class="flex flex-nowrap gap-2 mt-4 overflow-hidden">
                    {post.data.tags.map((tag) => (
                        <a
                            href={`/tag/${snake_case(tag)}`}
                            class="font-serif
                                        px-3
                                        py-1
                                        shrink-0
                                        whitespace-nowrap
                                        text-accent-foreground
                                        pointer-events-auto
                                        focus:outline-none
                                        text-sm
                                        rounded-full
                                        hover:bg-muted
                                        border"
                        >
                            <span class="text-primary font-sans">#</span>
                            {tag}
                        </a>
                    ))}
                </div>
            )
        }
    </div>
</article>
